@import "tailwindcss";

@theme {

  /* colors */
  --color-dark: #0B0D17;
  --color-light: #D0D6F9;

  /* breakpoints */

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;

  --spacing-1600: 128px;
  --spacing-1200: 96px;
  --spacing-1000: 80px;
  --spacing-800: 64px;
  --spacing-600: 48px;
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;
  --spacing-25: 2px;

  --font-bellefair: 'Bellefair', sans-serif;
  --font-barlow: 'Barlow', sans-serif;
  --font-barlow-condensed: 'Barlow Condensed', sans-serif
}

/* typography */
:root {
  font-display: swap;
  overflow-x: hidden;
}

.text-preset-1 {
  @apply font-bellefair text-[80px] tracking-[0px] tablet:text-[144px] desktop:text-[144px] desktop:tracking-[0px]
}
.text-preset-2 {
  @apply font-bellefair text-[56px] tracking-[0px] tablet:text-[80px] tablet:tracking-[0px] desktop:text-[96px] desktop:tracking-[0px]
}
.text-preset-3 {
  @apply font-bellefair text-[24px] tracking-[0px] tablet:text-[40px] tablet:tracking-[0px] desktop:text-[56px] desktop:tracking-[0px]
}
.text-preset-4 {
  @apply font-bellefair text-[18px] tracking-[0px] tablet:text-[24px] tablet:tracking-[0px] desktop:text-[32px] desktop:tracking-[0px]
}
.text-preset-5 {
  @apply font-barlow-condensed text-[20px] tracking-[calc(20*0.15)px] tablet:text-[28px] desktop:text-[28px] desktop:tracking-[4px]
}
.text-preset-6 {
  @apply font-barlow-condensed desktop:font-bellefair text-[28px] tracking-[3px] desktop:text-[28px] desktop:tracking-[0px]
}

.text-preset-7 {
  @apply font-barlow-condensed text-[14px] tracking-[2px]
}

.text-preset-8 {
  @apply font-barlow-condensed text-[16px] tracking-[2px] desktop:text-[18px] desktop:tracking-[2px]
}

.text-preset-9 {
  @apply font-barlow text-[18px] tracking-[0px] leading-[180%] tablet:text-[16px] tablet:tracking-[0px] tablet:leading-[180%] desktop:text-[18px] desktop:tracking-[0px] desktop:leading-[180%]
}

@layer base {
  img {
    display: block;
  }
}

body {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  transition: 0.75s ease-in-out opacity;
  opacity: 1;
}
main {
  overflow-y: scroll;
}


@media (max-width: 767px) {
  body:has(main.home) {
    background: url("/backgrounds/background-home-mobile.jpg") center/cover;
  }

  body:has(main.destination) {
    background: url("../src/assets/destination/background-destination-mobile.jpg") center/cover;
  }

  body:has(main.crew) {
    background: url("../src/assets/crew/background-crew-mobile.jpg") center/cover;
  }

  body:has(main.technology) {
    background: url("../src/assets/tech/background-technology-mobile.jpg") center/cover;
  }
}

@media(min-width: 768px) and (max-width: 1439px) {
  body:has(main.home) {
    background: url("/backgrounds/background-home-tablet.jpg") center/cover;
  }

  body:has(main.destination) {
    background: url("../src/assets/destination/background-destination-tablet.jpg") center/cover;
  }

  body:has(main.crew) {
    background: url("../src/assets/crew/background-crew-tablet.jpg") center/cover;
  }

  body:has(main.technology) {
    background: url("../src/assets/tech/background-technology-tablet.jpg") center/cover;
  }
}

@media(min-width:1440px) {
  body:has(main.home) {
    background: url("/backgrounds/background-home-desktop.jpg") center/cover;
  }

  body:has(main.destination) {
    background: url("../src/assets/destination/background-destination-desktop.jpg") center/cover;
  }

  body:has(main.crew) {
    background: url("../src/assets/crew/background-crew-desktop.jpg") center/cover;
  }

  body:has(main.technology) {
    background: url("../src/assets/tech/background-technology-desktop.jpg") center/cover;
  }
}
