@import "tailwindcss";

@theme {

  /* colors */
  --color-dark: #0B0D17;
  --color-light: #D0D6F9;

  /* breakpoints */

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;


  --spacing-1600: 128px;
  --spacing-1200: 96px;
  --spacing-1000: 80px;
  --spacing-800: 64px;
  --spacing-600: 48px;
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;
  --spacing-25: 2px;
}

/* typography */
:root {
  font-display: swap;
  overflow: hidden;
}
.text-preset-1 {
  font-size: 144px;
  line-height: 171.9%;
  letter-spacing: 0px;
  font-family: "Bellefair", sans-serif;
  font-weight: normal;
}
.text-preset-2 {
  font-size: 100px;
  line-height: 114.6%;
  letter-spacing: 0px;
  font-family: "Bellefair", sans-serif;
  font-weight: normal;
}
.text-preset-3 {
  font-size: 56px;
  line-height: 64.2%;
  letter-spacing: 0px;
  font-family: "Bellefair", sans-serif;
  font-weight: normal;
}
.text-preset-4 {
  font-size: 32px;
  line-height: 36.7%;
  letter-spacing: 0px;
  font-family: "Bellefair", sans-serif;
  font-weight: normal;
}
.text-preset-5 {
  font-size: 28px;
  line-height: 33.6%;
  letter-spacing: var(--spacing-50);
  font-family: "Barlow Condendsed", sans-serif;
  font-weight: normal;
}
.text-preset-6 {
  font-size: 28px;
  line-height: 32.1%;
  letter-spacing: 0px;
  font-family: "Bellefair", sans-serif;
  font-weight: normal;
}
.text-preset-7 {
  font-size: 14px;
  line-height: 16.8%;
  letter-spacing: var(--spacing-25);
  font-family: "Barlow Condensed", sans-serif;
  font-weight: normal;
}
.text-preset-8 {
  font-size: 16px;
  line-height: 19.2%;
  letter-spacing: var(--spacing-25);
  font-family: "Barlow Condensed", sans-serif;
  font-weight: normal;
}
.text-preset-9 {
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0px;
  font-family: "Barlow", sans-serif;
  font-weight: normal;
}
@layer base {
  img {
    display: block;
  }
}

body {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
@media (max-width: 767px) {
  body {
    background: url("/backgrounds/background-home-mobile.jpg") center/cover;
  }

}

@media(min-width: 768px) and (max-width: 1439px) {
  body {
    background: url("/backgrounds/background-home-tablet.jpg") center/cover;
  }
}
@media(min-width:1440px) {
  body {
    background: url("/backgrounds/background-home-desktop.jpg") center/cover;
  }
}
